<meta charset="utf-8">
<title>{$conf.webname}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<!-- Bootstrap styles -->
<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">

<!-- Font-Awesome -->
<link rel="stylesheet" href="__INDEX__/css/font-awesome/css/font-awesome.min.css">

<!-- Google Webfonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

<!-- Styles -->
<link rel="stylesheet" href="__INDEX__/css/style.css" id="theme-styles">

<!--[if lt IE 9]>
<script src="__INDEX__/js/respond.js"></script>
<![endif]-->

<style>
    body{
        background: url("../../../../../Tp5Blog/public/uploads/{$conf.background}");
    }

</style>