<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
        {include file="public/title"}
</head>
<body>
	<!-- 头部 -->
    {include file="public/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
            {include file='public/left'}
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->

            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">消息列表</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    


<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">评论内容	</th>
                                <th class="text-center">评论者</th>
                                <th class="text-center">所属文档</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name='comment' id='c'}
                        <tr>
                            <td align="center">{$c.id}</td>
                            <td align="center">{:mb_substr($c.comment,0,12)}...</td>
                            <td align="center">{$c.name}</td>
                            <td align="center"><a  target="_blank " href="{:url('index/details/index',['id'=>$c.aid])}">查看</a></td>
                            <td align="center">
                                <a href="#" onClick="warning('确实要删除吗', ' {:url('del',['id'=>$c.id])} ')" class="btn btn-danger btn-sm shiny">
                                    <i class="fa fa-trash-o"></i> 删除
                                </a>
                            </td>
                        </tr>
                        {/volist}


                        </tbody>
                    </table>
                </div>
                <div style="padding-top:10px; text-align: right">
                {$comment->render()}
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	  {include file='public/footer'}
    


</body></html>